<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>
<heade>
  <link rel="index-page" href="/stylesheets/index-page.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css"> <!-- link css files here，載入靜態檔案 -->
  </head>

  <body>

    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}

    <script src="/javascripts/popper.js"></script> <!-- include javascript files here 載入靜態檔案 -->
    <script src="/javascripts/bootstrap.js"></script> <!-- include javascript files here 載入靜態檔案-->


  </body>

</html>